@font-face {
    font-family: CourgetteRegular;
    src: url(../font/Courgette-Regular.ttf);
}
@font-face {
    font-family: OpenSansBold;
    src: url(../font/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSansRegular;
    src: url(../font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: RobotoLight;
    src: url(../font/Roboto-Light.ttf);
}
@font-face {
    font-family: RobotoRegular;
    src: url(../font/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoSlabBold;
    src: url(../font/RobotoSlab-Bold.ttf);
}
@font-face {
    font-family: RobotoSlabRegula;
    src: url(../font/RobotoSlab-Regular.ttf);
}
html, body{
    width: 100%;
    height: 100%;
}
.header-section{
    width: 100%;
    overflow: auto;
    position: relative;
    overflow-y: hidden;
    min-height: 520px;
}
.main-body{
    width: 100%;
    height: 5px;
    background-color:red ;
}
.layer-1{

    position: absolute;
    width: 100%;
    height:100%; 
    background-image: url(../img/Untitled-1.png);
}
.full-star-1{
    position: relative;
    left: 0px;
    top: 5px;
}
.layer-2{

    position: absolute;
    width: 100%;
    height:100%; 
    background-color: #687e90;
    opacity: 0.7;
}
.layer-3{

    position: absolute;
    width: 100%;
    height:100%; 

}
.layer-4{
    position: absolute;
    width: 100%
}
.common-li{
    height: 50px;
}




#owl-demo .item{
  background: transparent;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
  width: 100%;
    position: relative;
    top: -438px;  
}




//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.prev{
    float: left;
}
.next{
    float: right;
}

.fork-icon-other{
    position: relative;
    top: -51px;    
}













.navbar-default-modifieid-1{
    background-color: transparent !important;
    border-style: none !important;
}
.one-nav, .two-nav, .three-nav, .four-nav{
    font-family: RobotoSlabRegula;
    font-size: 120%;
    color: white;
}
.btn-under-cart-label{
    position: relative;
    left: -11px;
    top: 10px;
    border-style: solid !important;
    border-color: #a2b0bd !important;
    border-width: 3px !important;
    color: white !important;
    background-color: #f7941e;
    border-radius: 50% !important;
    width: 26px;
    height: 29px; 
}
.number-inside-cart{
    position: relative;
    left: -8px;
    top: -4px;
}
.cart-image{

}

.five-nav {
position: relative;
    left: 5px;
    top: -9px;
}
.six-nav {
    position: relative;
    left: 56px;
    top: -13px;
}
.navbar-nav-modified-1{
    position: relative;
    top: 21px;
    left: 72px;    
}
.form-control-modified-1{
    border-radius: 0px !important;
    background-color: transparent !important;
    border-color: white !important;   
        height: 46px !important; 
}
.btn-info-modified-1{
    border-radius: 0px !important;
    background-color: transparent !important;
    border-color: white !important;   
    height: 46px !important;
}
.navbar-right-modified-1{
    border-style: none !important;
    box-shadow: none !important;   
}
.area-choosing{
    font-family: RobotoSlabRegula;
    font-size: 233% !important;
    color: white !important;
    position: relative;

}
.jumbotron-modi-1{
    background-color: transparent !important;
    margin-top: 67px;
    position: relative;
    z-index: 2;

}
.first-titlte-1{
    font-family: OpenSansRegular;
    color: white;
    font-size: 92% !important;
    margin-top: 21px !important;
    position: relative;
    max-width: 553px;
    margin: auto;
}
.choose-area-2{
    font-family: OpenSansBold;
    position: relative;
    left: -8px;
    top: 4px;    
    width: 117px;
}
.choose-specific-area{
    font-family: OpenSansBold;
    position: relative;
    left: -8px;
    top: 4px;    
    width: 117px;
}
.dropdown-modi-1{

}
.dropdown-modi-2{

}
.dropdown-toggle-modi-1{
   border-radius: 0px !important;
    width: 250px !important; 
        height: 42px;
}
.dropdown-toggle-modi-2{
   border-radius: 0px !important;
    width: 250px !important; 
        height: 42px;
}
.arrow-kiss-2{
     top: -13px !important;
    left: 105px;   
}
.arrow-kiss-1{
     top: -13px !important;
    left: 105px;   
}
.btn-orange-real-1{
    padding-top: 5px;
}
.btn-orange-1{
    border-radius: 0px !important;
    height: 41px;
    background-color: #f7941e !important;
    border-style: none !important;  
}
@media (max-width: 658px){
    .dropdown-toggle-modi-1 {
        border-radius: 0px !important;
        width: 462px !important;
        height: 42px;
    }   
    .dropdown-toggle-modi-2 {
        border-radius: 0px !important;
        width: 462px !important;
        height: 42px;
    }
    .arrow-kiss-1 {
        top: -13px !important;
        left: 216px;
    }  
    .arrow-kiss-2 {
        top: -13px !important;
        left: 216px;
    } 
    .btn-orange-1 {
        width: 462px;
        border-radius: 0px !important;
        height: 41px;
        background-color: #f7941e !important;
        border-style: none !important;
    }         
}
@media (max-width: 546px){
.dropdown-toggle-modi-1 {
    border-radius: 0px !important;
    width: 406px !important;
    height: 42px;
} 
.dropdown-toggle-modi-2 {
    border-radius: 0px !important;
    width: 406px !important;
    height: 42px;
}
.arrow-kiss-1 {
    top: -13px !important;
    left: 188px;
} 
.arrow-kiss-2 {
    top: -13px !important;
    left: 188px;
}
    .btn-orange-1 {
        width: 406px;
        border-radius: 0px !important;
        height: 41px;
        background-color: #f7941e !important;
        border-style: none !important;
    }         
}

/*@media (max-width: 644px){
    .dropdown-toggle-modi-1 {
        border-radius: 0px !important;
        width: 210px !important;
        height: 42px;
    }    
    .dropdown-toggle-modi-2 {
        border-radius: 0px !important;
        width: 210px !important;
        height: 42px;
    }
    .arrow-kiss-1 {
        top: -13px !important;
        left: 91px;
    }    
    .arrow-kiss-2 {
        top: -13px !important;
        left: 91px;
    }    
}
@media (max-width: 560px){
    .dropdown-toggle-modi-1 {
        border-radius: 0px !important;
        width: 183px !important;
        height: 42px;
    }    
    .dropdown-toggle-modi-2 {
        border-radius: 0px !important;
        width: 183px !important;
        height: 42px;
    }
    .arrow-kiss-1 {
        top: -13px !important;
        left: 79px;
    }    
    .arrow-kiss-2 {
        top: -13px !important;
        left: 79px;
    }    
}
@media (max-width: 509px){
    .dropdown-toggle-modi-1 {
        border-radius: 0px !important;
        width: 171px !important;
        height: 42px;
    }    
    .dropdown-toggle-modi-2 {
        border-radius: 0px !important;
        width: 171px !important;
        height: 42px;
    }
    .arrow-kiss-1 {
        top: -13px !important;
        left: 72px;
    }    
    .arrow-kiss-2 {
        top: -13px !important;
        left: 72px;
    }    
}
@media (max-width: 485px){
    .dropdown-toggle-modi-1 {
    border-radius: 0px !important;
    width: 322px !important;
    height: 42px;
    }    
    .dropdown-toggle-modi-2 {
    border-radius: 0px !important;
    width: 322px !important;
    height: 42px;
    }
    .arrow-kiss-1 {
        top: -13px !important;
        left: 145px;
    }   
    .arrow-kiss-2 {
        top: -13px !important;
        left: 145px;
    }  
    .ul-inline-modi-1{
        width: 334px;
        margin: auto !important;        
    }
    .btn-orange-1 {
        border-radius: 0px !important;
        height: 41px;
        background-color: #f7941e !important;
        border-style: none !important;
        width: 322px !important;
    }    
}
@media (max-width: 390px){
    .dropdown-toggle-modi-1 {
        border-radius: 0px !important;
        width: 268px !important;
        height: 42px;
    }    
    .dropdown-toggle-modi-2 {
        border-radius: 0px !important;
        width: 268px !important;
        height: 42px;
    }
    .arrow-kiss-1 {
        top: -13px !important;
        left: 119px;
    }   
    .arrow-kiss-2 {
        top: -13px !important;
        left: 119px;
    }  
    .ul-inline-modi-1{
        width: 277px;
        margin: auto !important;    
    }
    .btn-orange-1 {
        border-radius: 0px !important;
        height: 41px;
        background-color: #f7941e !important;
        border-style: none !important;
        width: 269px !important;
    }      
}*/
.ul-inline-modi-1{
        margin-top: 30px;
}
.line-left{
    width: 31px;
    height: 2px;
    background-color: #f7941e;
}
.line-right{
    width: 31px;
    height: 2px;
    background-color: #f7941e;
    position: relative;
    top: -22px;
    left: 51px;
}

.real-center-symbol{
    position: relative;
    left: 38px;
    top: -13px;    
}
.active-icon{
    position: relative;
    left: -2px;
    top: -5px;   
    opacity: 0; 
    transition: opacity 0.5s;
}
.active-icon-2{
    position: relative;
    left: 15px;
    top: -5px; 
    opacity: 0;
    transition: opacity 0.5s;
}
.active-icon-3{
    position: relative;
    left: 30px;
    top: -5px;
    opacity: 0;
    transition: opacity 0.5s;
}
.active-icon-4{
    position: relative;
    left: 16px;
    top: -19px;
    opacity: 0;
    transition: opacity 0.5s;
}
.hover-a-1:hover > .active-icon{
    opacity:1;
}
.hover-a-2:hover > .active-icon-3{
    opacity:1;
}
.hover-a-3:hover > .active-icon-4{
    opacity:1;
}
.hover-a-4:hover > .active-icon-2{
    opacity:1;
}
#myCarousel{
    position: absolute;
    height: 100%;
    width: 100%;
}
.common-carousel-1{
    width: 22%;

}
.carousel-control{
    background-color: transparent !important;
    background-image: none !important;

}

.common-line-modified-1{
/*    border-radius: 0px !important;
    width: 23% !important;
    height: 5px !important;*/
    border-radius: 0px !important;
    width: 23% !important;
    height: 10px !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-color: #94a4b0 !important;
    
}
.carousel-indicators{
    position: absolute;
    left: 0px !important;
        top: 97% !important;
    width: 100% !important;
    margin-left: 0px !important;
}
.specific-zero-1{
    position: relative;
    left: 22px;
    background-color: #f7941e;   
}
.specific-zero-2{
    position: relative;
    left: 15px;    
}
.specific-zero-3{
    position: relative;
    left: 10px;    
}
.specific-zero-4.active{

    top: -1px;
}
.specific-zero-4{

    position: relative;
    left: 3px;
}
.common-line-modified-1.active{
    background-color: #f7941e !important;
    top: -1.1px;
}
.three-step-t0-get-good-food{
    font-family: RobotoSlabRegula;
    font-size: 286% !important;
    padding-top: 85px;
}
.around-hover-three-step{
    position: relative;
    top: 0px;
    left: 582px;
}
.real-image-fork{
    width: 475px;
}
@media (max-width: 527px){
    .real-image-fork{
        width: 363px;
    }
    
}

@media (max-width: 347px){
    .real-image-fork{
            width: 290px;
    }
    
}
.real-image-fork-2st{
    width: 475px;
}
@media (max-width: 602px){
    .real-image-fork-2st{
       width: 387px;
    }
    
}
@media (max-width: 490px){
    .real-image-fork-2st{
       width: 291px;
    }
    
}
@media (max-width: 442px){
    .real-image-fork-2st{
       width: 198px;
    }
    
}



.three-step-body{
        margin-top: -35px;
    background-image: url(../img/background-image-middle.png);
}
.jumbotron-middle-part{
    background-color: transparent !important;
}



.row-for-three-panel{
    width: 100% !important;
        margin: auto !important;
        margin-top: 58px !important;
        position: relative;
        z-index: 2;

}
.left-image-bowl{
        width: 161px;
}
.middle-image-bowl{
        width: 137px;
}
.right-image-bowl{
        width: 113px;
}
.btn-middle-check{
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    background-color: #f7941e !important;
    border-style: solid !important;
    border-color: white !important;
    border-width: 2px !important;  
}
.number-inside-button-food-1{
    font-size: 34px;
    position: relative;
    top: -2px;    
}

.first-line-footer{
    font-family: RobotoSlabRegula;
    font-size: 169% !important;
}
.describe-about-footer{
    font-size: 92% !important;
    font-family: OpenSansRegular;
    /* font-size: 135% !important; */
    max-width: 232px;
    /* text-align: center; */
    margin: auto;
}
.panel{
    border-style: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.panel-heading{
    border-style: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.panel-body{
    border-style: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.panel-footer{
    border-style: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.middle-through-line{
    margin: auto;
    position: relative;
    top: -270px;;
    z-index: 1;
    width: 735px;
    height: 3px;
    background-color: #f7941e ;
}



.having-a-nice-chef{
    min-height: 427px;
    background-image: url(../img/background-image-middle.png);
    width: 100%;
    position: relative;
    margin-top: -33px;
    overflow: auto;
}
.having-a-nice-chef-layer-1{
    background-color: #ddaf63;
    opacity: 0.6;
    position: absolute;
    height: 100%;
    width: 100%;
}
.having-a-nice-chef-layer-real-things{
    position: absolute;
    height: 100%;  
    background-color: transparent;
    width: 100% !important;
    margin: auto;
    text-align: center;    
}
.jumbotron-chef-modified{
    background-color: transparent !important;
    border-style: none !important;
    margin-top: 40px;
}
.meeting-kitfe-team{
    font-family: RobotoSlabRegula;
    color: white !important;    
    font-size: 286% !important;
}
.describe-kitfe-team{
    font-size: 92% !important;
    font-family: OpenSansRegular;
    color: white;
    /* font-size: 135% !important; */
    max-width: 684px;
    margin: auto;
}
.white-fork-hack{

}
.play-video-button-1{

}
.around-play-button-and-hit{
    color: #ddaf63;
}
.glyphicon-play-modified{
     left: -36px;
    top: 2px !important;   
}
.real-smiling-chef{
    width: 238px;
    position: absolute;
    top: 2px;
    float: right;
    left: 77%;
}
.around-smiling-chef{
    width: 0px;
    height: 0px;    
}
@media(max-width: 1207px){
    .real-smiling-chef {
        width: 238px;
        position: absolute;
        top: 2px;
        float: right;
        left: 75%;
    }  
    .describe-kitfe-team {
        font-family: OpenSansRegular;
        color: white;
        font-size: 135% !important;
        max-width: 540px;
        margin: auto;
    } 
}
@media(max-width: 997px){
    .real-smiling-chef {
        width: 238px;
        position: absolute;
        top: 2px;
        float: right;
        left: 75%;
    }  
    .describe-kitfe-team {
        font-family: OpenSansRegular;
        color: white;
        font-size: 135% !important;
        max-width: 501px;
        margin: auto;
    }
}
@media(max-width: 946px){
    .real-smiling-chef {
        width: 212px;
        position: absolute;
        top: 41px;
        float: right;
        left: 75%;
    } 
    .describe-kitfe-team {
        font-family: OpenSansRegular;
        color: white;
        font-size: 135% !important;
        max-width: 501px;
        margin: auto;
    }
}


@media(max-width: 836px){
    .real-smiling-chef {
        width: 191px;
        position: absolute;
        top: 56px;
        float: right;
        left: 75%;
    }  
    .describe-kitfe-team {
        font-family: OpenSansRegular;
        color: white;
        font-size: 135% !important;
        max-width: 439px;
        margin: auto;
    } 
    .having-a-nice-chef {
        min-height: 447px;
        background-image: url(../img/background-image-middle.png);
        width: 100%;
        position: relative;
        margin-top: -33px;
        overflow: auto;
    }    
}
@media(max-width: 758px){
    .real-smiling-chef {
        display: none;
    }  
   
}
.next-part{
    width: 100%;
    min-height: 586px;
    background-image: url(../img/background-image-middle.png);
    padding-top: 90px;
}
.eat-what-good{
    font-family: RobotoSlabRegula;
    font-size: 286% !important;
        padding-bottom: 69px;
}

.around-left-food-choosing{
    position: relative;
    width: 100%;
    min-height: 239.750px;

}
.first-level{
    width: 100%;
    height: 100%;
    position:absolute;
    background-image: url(../img/aaaaaa.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.second-level{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
.third-level{
    position: absolute;
    width: 100%;
    height: 100%;

}
.inside-third-part{
    width: 95%;
    height: 94%;
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    /* text-align: center; */
    left: 9px;
    top: 9px;
    padding-top: 52px;
}
.eat-time{
    font-family: RobotoSlabRegula;
    color: white; 
}
.cant-force-food{
    font-family: RobotoSlabRegula;
    color: white; 
     font-size: 128%;

}
.inside-next-part{
    padding-bottom: 30px;
}
.real-first-level{
    width: 100%;
    height: 100%;
}
.greater-than-last-part-1-unit{
    width: 100%;
    margin-top: 88px;
    min-height: 100px;
    background-color: #ececec;
        padding-top: 122px;     
}
.title-name-of-food{
    font-family: OpenSansRegular;
    color: black;
}
.half-star-2{
    position: relative;
    left: -4px;
    top: -34px;
}

.owl-page{
    display: none !important;
}
.slide-btn-modified {
    width: 45px;
    height: 45px;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: #cacaca !important;
    border-radius: 0px !important;
    color: #cacaca;
}
.glyphicon-chevron-right-m{
     top:6px !important;
    
}
.glyphicon-chevron-left-m{
    top: 6px !important;

}
.glyphicon-chevron-left{
        margin-left: -32% !important;
}
.glyphicon-chevron-right{
            margin-right: -31% !important;
}
.slide-btn-modified:hover{
    border-color: #cfa359 !important;
    color: #cfa359 !important;
}
.email-and-input-field{
    width: 100%;
    min-height: 353px;
    background-image: url(../img/background-image-middle.png);
    padding-top: 169px;
}
.media-body-for-email{
    font-family: OpenSansRegular;
    font-size: 117%;
    padding-top: 15px;
    max-width: 330px;
    padding-left: 19px;         
}
.input-group-email-modi{
    height: 75px;
        padding-left: 8%;
}
.form-control-input-modified{
    height: 75px !important;
    width: 124% !important;
    border-radius: 0px !important;
    border-right-style: none !important;
}
.input-group-addon{
    width: 56% !important;
    padding-left: 14%!important;
    background-color: transparent !important;
    border-radius: 0px !important;
}
.btn-primary-inside-email{
    height: 50px;
    width: 83%;   
    background-color: #444444 !important; 
    font-family: OpenSansBold;
    font-size: 121%;
        border-style: none !important;
}
.media-email-inside{
        padding-left: 13%;
}
@media(max-width: 894px){
    .media-email-inside{
        padding-left: 13%;
        position: relative;
        top: -15px;
    }
}


.last-part{
    width: 100%;
    min-height: 400px;
    background-color: #242424;
        margin-top: 62px;
}
.last-part-index-1{
    width: 100%;
    min-height: 400px;
    background-color: white;
        margin-top: 62px;
}
.last-logo-icon{
        padding-top: 46px;
}
.modify-last-nav > li{
    font-family: RobotoSlabRegula;
    color: #f7941e;
    font-size: 137%;
    padding-top: 19px;    
}
.address-last-part{
    font-family: RobotoSlabRegula;
    color: #999999;
    max-width: 243px;
    margin: auto;    
}
.address-last-part-index-1{
    font-family: RobotoSlabRegula;
    color: black;
    max-width: 243px;
    margin: auto;    
}
.last-nav-hotline {
    padding-top: 15px;
        width: 227px;
    height: 50px;
    font-family: RobotoSlabRegula;
    color: #999999;
    margin: auto;
    font-size: 114%;
        border-style: solid;
    border-width: 2px;
    padding-top: 12px;
    margin-top: 21px;
}
.last-nav-hotline-index-1{
    padding-top: 15px;
        width: 227px;
    height: 50px;
    font-family: RobotoSlabRegula;
    color: black;
    margin: auto;
    font-size: 114%;
        border-style: solid;
    border-width: 2px;
    padding-top: 12px;
    margin-top: 21px;    
}
.social-media-icons{
    color: white;
        padding-top: 19px;
}
.btn-primary-tw{
    background-color: #f7941e !important;
    border-style: none !important;
    border-radius: 50% !important;
    height: 50px;
    width: 50px;    
}
.tweeter-icon{
     width: 28px;
    position: relative;
    top: 8px;   
}
.btn-primary-fb{
    background-color: #f7941e !important;
    border-style: none !important;
    border-radius: 50% !important;
    height: 50px;
    width: 50px;    
}
.fb-icon{
    width: 16px;
    position: relative;
    top: 5px;  
}
.copy-right-last{
    width: 100%;
    height: 60px;
    border-top-style: solid;
    border-width: 2px;
    border-color: #3a3a3a;
    margin-top: 31px;
    font-family: RobotoLight;
    color: #999999;
    font-size: 115%;
        padding-top: 17px;
}
.copy-right-last-index-1{
    width: 100%;
    height: 60px;

    margin-top: 31px;
    font-family: RobotoLight;
    color: black;
    font-size: 115%;
        padding-top: 17px;
}
.alter-choose-food{
    margin-top: 7px;
}
.around-hotline-number{
    position: absolute;
    width: 83%;
    margin: auto;
    text-align: center;
    top: 4px;
}
.hotline-f1{
    font-family: RobotoSlabBold;
    color: #f7941e;
}
.number-phone{
    font-family: RobotoSlabBold;   

}
.arund-single-complex{
    height: 22px;
    width: 22px;
    margin: 0 auto;
}
.half-star-1{
    position: relative;
    top: -13px;    
}
.star-review-slidef-food >.list-inline >li {
    padding: 0px !important; 
}
.nav-last-list{

    margin: auto;    
}



/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .around-hotline-number{
        position: absolute;
        width: 83%;
        margin: auto;
        text-align: center;
        top: -1px;
    }
    .navbar-header-modified-1{

    }
    .collapse-modified-1{
        margin-left: -104px !important;
    }
    .navbar-nav-modified-1 {
        position: relative;
        top: 21px;
        left: 72px;
        font-size: 17px;
    }   
    .six-nav {
        position: relative;
        left: 14px;
        top: -13px;
    }
    .middle-through-line{
        margin: auto;
        position: relative;
        top: -270px;;
        z-index: 1;
        width: 655px;
        height: 3px;
        background-color: #f7941e ;
    }
    .inside-third-part {
        width: 95%;
        height: 94%;
        position: absolute;
        background-color: transparent;
        border-style: solid;
        border-color: white;
        /* text-align: center; */
        left: 8px;
        top: 9px;
        padding-top: 52px;
    }   
    .customNavigation{
      text-align: center;
      width: 100%;
        position: relative;
        top: -405px;  
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-header-modified-1{
        margin-left: -67px !important;
    }
    .collapse-modified-1{
        margin-left: -169px !important;
    }
    .navbar-nav-modified-1 {
        position: relative;
        top: 21px;
        left: 72px;
        font-size: 15px;

    }   
    .six-nav {
        position: relative;
        left: 14px;
        top: -13px;
    }   
    .form-control-modified-1{
        width: 117px !important;
    }
    .middle-through-line {
        margin: auto;
        position: relative;
        top: -354px;
        z-index: 1;
        width: 526px;
        height: 3px;
        background-color: #f7941e;
    }
    .inside-third-part {
        width: 95%;
        height: 94%;
        position: absolute;
        background-color: transparent;
        border-style: solid;
        border-color: white;
        /* text-align: center; */
        left: 6px;
        top: 8px;
        padding-top: 52px;
    }       
    .customNavigation{
      text-align: center;
      width: 100%;
        position: relative;
        top: -371px;  
    }   

    

}

@media(max-width: 900px){
    .customNavigation{
      text-align: center;
      width: 100%;
        position: relative;
        top: -411px;  
    }   
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 847px) {
    .navbar-header-modified-1{
        margin-left: -17px !important;
    }
    .collapse-modified-1 {
        margin-left: -113px !important;
    }
    .navbar-nav-modified-1 {
        position: relative;
        top: 21px;
        left: 72px;
        font-size: 12px;

    }   
    .six-nav {
        position: relative;
        left: 14px;
        top: -13px;
    }   
    .form-control-modified-1{
        width: 117px !important;
    }
}



/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .carousel-control{
            margin-top: 80px;
    }
    .input-group-email-modi {
        height: 75px;
        padding-left: 13.5%;
    }   
    .input-group-email-modi {
        width: 84%;
        height: 75px;
        padding-left: 13.5%;
    }   
    .navbar-header-modified-1{
        height: 82px;
    }
    .navbar-nav-modified-1{
        position: relative;
        left: 0px;
        top: 0px;
        width: 94%;
    }
    .five-nav {
        position: relative;
        top: -18px;
        left: 16px;
    }   
    .six-nav {
        position: relative;
        top: 0px;
        left: 0px;
    }
    .navbar-right-modified-1 {
        width: 110%;
        border-style: none !important;
        box-shadow: none !important;
    }   
    .navbar-toggle-modified-1{
        position: relative;
        top: 15px;  
        border-radius: 0px !important;
        background-color: transparent !important;
        transform: scale(1.5);
    }
    .icon-bar{
        background-color: white !important;
    }
    .middle-through-line{
        display: none;
    }    

    .inside-third-part {
        width: 95%;
        height: 94%;
        position: absolute;
        background-color: transparent;
        border-style: solid;
        border-color: white;
        /* text-align: center; */
        left: 18px;
        top: 9px;
        padding-top: 52px;
    }
}
@media (max-width: 658px){
    .carousel-control{
        background-color: transparent !important;
        background-image: none !important;
        margin-top: -35px !important;
    }    
}

@media (max-width: 516px){
    .inside-third-part {
        width: 95%;
        height: 94%;
        position: absolute;
        background-color: transparent;
        border-style: solid;
        border-color: white;
        /* text-align: center; */
        left: 10px;
        top: 9px;
        padding-top: 52px;
    }    
}



/* Portrait phones and smaller */
@media (max-width: 480px) {
    .nav-last-list{
        max-width: 236px;
        margin: auto;    
    }

    
    .dropdown-toggle-modi-1 {
        border-radius: 0px !important;
        width: 353px !important;
        height: 42px;
    }
    .dropdown-toggle-modi-2 {
        border-radius: 0px !important;
        width: 353px !important;
        height: 42px;
    }
    .arrow-kiss-1 {
        top: -13px !important;
        left: 162px;
    }
    .arrow-kiss-2 {
        top: -13px !important;
        left: 162px;
    }
    .btn-orange-1 {
        width: 353px;
        border-radius: 0px !important;
        height: 41px;
        background-color: #f7941e !important;
        border-style: none !important;
    }  
    .customNavigation{
      text-align: center;
      width: 100%;
        position: relative;
        top: -380px;  
    }
    .btn-primary-inside-email{
        font-size: 85%;
    }

}/* Por

trait phones and smaller */
@media (max-width: 658px){
    .carousel-control{
        background-color: transparent !important;
        background-image: none !important;
        margin-top: -97px;
    }    
}








@media (max-width: 432px) {
.dropdown-toggle-modi-1 {
    border-radius: 0px !important;
    width: 268px !important;
    height: 42px;
}
.dropdown-toggle-modi-2 {
    border-radius: 0px !important;
    width: 268px !important;
    height: 42px;
}
.arrow-kiss-1 {
    top: -13px !important;
    left: 121px;
}
.arrow-kiss-2 {
    top: -13px !important;
    left: 121px;
}
    .btn-orange-1 {
        width: 268px;
        border-radius: 0px !important;
        height: 41px;
        background-color: #f7941e !important;
        border-style: none !important;
    }   
}
@media (max-width: 343px) {
    .customNavigation{
      text-align: center;
      width: 100%;
        position: relative;
        top: -359px;  
    }    
}

.real-image-fork-another{
    width: 242px;
}


